* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
a {
  color: #333;
  text-decoration: none;
}
ul,
ol {
  list-style: none;
}
img {
  width: 100%;
  height: 100%;
  vertical-align: middle;
}
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.clearfix::before,
.clearfix::after {
  content: '';
  display: table;
}
.clearfix::after {
  clear: both;
}
body {
  background-color: #ededed;
}
.red {
  background-color: #d4544e;
  border: #d4544e 0.26666666666666666vw solid;
}
.blue {
  background-color: #3c9fe6;
  border: #3c9fe6 0.26666666666666666vw solid;
}
.main {
  width: 100%;
  background-color: #fff;
}
.main .cinema-box {
  width: 96vw;
  height: 29.333333333333332vw;
  background-color: white;
  padding: 3.4666666666666663vw 4vw 3.4666666666666663vw 0;
  margin-left: 4vw;
  border-bottom: #ededed 0.26666666666666666vw solid;
}
.main .cinema-box .title {
  display: flex;
  align-items: center;
}
.main .cinema-box .title .cinema-name {
  font-size: 4.8vw;
  color: black;
}
.main .cinema-box .title .price {
  font-size: 4.8vw;
  color: #d4544e;
  margin-left: 2.666666666666667vw;
  display: flex;
}
.main .cinema-box .title .price p {
  width: 6.4vw;
  height: 6.4vw;
  padding-top: 1.6vw;
  font-size: 3.2vw;
  line-height: 1.5;
  white-space: nowrap;
  margin-left: 1.0666666666666667vw;
}
.main .cinema-box .location {
  display: flex;
  justify-content: space-between;
}
.main .cinema-box .location p {
  font-size: 3.4666666666666663vw;
  color: #666;
  margin-top: 1.0666666666666667vw;
}
.main .cinema-box .lables {
  margin-top: 1.3333333333333335vw;
  display: flex;
}
.main .cinema-box .lables .lable-item {
  height: 4.533333333333333vw;
  padding: 0 0.8vw;
  font-size: 3.2vw;
  color: #689bac;
  border: 0.26666666666666666vw solid #689bac;
  border-radius: 0.5333333333333333vw;
  margin-right: 1.3333333333333335vw;
}
.main .cinema-box .lables .snack,
.main .cinema-box .lables .vip {
  color: #f19e39;
  border: 0.26666666666666666vw solid #f19e39;
}
.main .cinema-box .card {
  display: flex;
  margin-top: 1.3333333333333335vw;
}
.main .cinema-box .card .logo {
  width: 4vw;
  height: 4vw;
  font-size: 2.4vw;
  line-height: 4vw;
  color: white;
  padding: 0.26666666666666666vw;
  background-color: #73bef3;
  border-radius: 0.5333333333333333vw;
}
.main .cinema-box .card .text {
  font-size: 3.2vw;
  color: #999;
}
