* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
a {
  color: #333;
  text-decoration: none;
}
ul,
ol {
  list-style: none;
}
img {
  width: 100%;
  height: 100%;
  vertical-align: middle;
}
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.clearfix::before,
.clearfix::after {
  content: '';
  display: table;
}
.clearfix::after {
  clear: both;
}
body {
  background-color: #ededed;
}
.movie-list-container {
  background-color: #fff;
}
.movie-list-container .movie-list .movie-list-item {
  height: 30.4vw;
  background-color: white;
  padding-left: 4vw;
  display: flex;
  align-items: center;
}
.movie-list-container .movie-list .movie-list-item .movie-list-item-img {
  width: 17.066666666666666vw;
  height: 23.466666666666665vw;
}
.movie-list-container .movie-list .movie-list-item .movie-content-box {
  border-bottom: #ededed solid 0.26666666666666666vw;
  display: flex;
  align-items: center;
  margin-left: 2.666666666666667vw;
  width: 100%;
  height: 30.4vw;
}
.movie-list-container .movie-list .movie-list-item .movie-content-box .movie-content {
  width: 100%;
  height: 23.466666666666665vw;
  background-color: #fff;
  padding-right: 4vw;
  display: flex;
  flex-direction: column;
}
.movie-list-container .movie-list .movie-list-item .movie-content-box .movie-content .movie-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.0666666666666667vw;
}
.movie-list-container .movie-list .movie-list-item .movie-content-box .movie-content .movie-title .movie-title-name {
  font-size: 4.533333333333333vw;
  color: #333;
  font-weight: bolder;
}
.movie-list-container .movie-list .movie-list-item .movie-content-box .movie-content .movie-title .score-box {
  display: flex;
}
.movie-list-container .movie-list .movie-list-item .movie-content-box .movie-content .movie-title .score-box .score {
  font-size: 4vw;
  color: #faaf00;
  margin-left: 1.3333333333333335vw;
}
.movie-list-container .movie-list .movie-list-item .movie-content-box .movie-content .movie-title .score-box .score-desc {
  font-size: 3.2vw;
  color: #999;
  padding-top: 0.8vw;
}
.movie-list-container .movie-list .movie-list-item .movie-content-box .movie-content .E-name {
  font-size: 3.4666666666666663vw;
  color: #666;
  margin-bottom: 1.0666666666666667vw;
}
.movie-list-container .movie-list .movie-list-item .movie-content-box .cinema-style {
  font-size: 3.4666666666666663vw;
  color: #666;
  margin-bottom: 1.0666666666666667vw;
}
.movie-list-container .movie-list .movie-list-item .movie-content-box .show-msg {
  display: flex;
  font-size: 3.4666666666666663vw;
  color: #666;
  margin-bottom: 1.0666666666666667vw;
}
