* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
a {
  color: #333;
  text-decoration: none;
}
ul,
ol {
  list-style: none;
}
img {
  width: 100%;
  height: 100%;
  vertical-align: middle;
}
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.clearfix::before,
.clearfix::after {
  content: '';
  display: table;
}
.clearfix::after {
  clear: both;
}
body {
  background-color: #ededed;
}
.red {
  background-color: #d4544e;
  border: #d4544e 0.26666666666666666vw solid;
}
.blue {
  background-color: #3c9fe6;
  border: #3c9fe6 0.26666666666666666vw solid;
}
body {
  height: 100vh;
}
.header {
  height: 11.733333333333333vw;
  background-color: #fff;
  margin-bottom: 0.5333333333333333vw;
}
.header .tabs-container {
  height: 11.733333333333333vw;
  margin-left: 4vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.header .tabs-container .city {
  display: block;
  width: 16.53333333333333vw;
  height: 11.733333333333333vw;
  text-align: center;
}
.header .tabs-container .city .location-box {
  width: 16.53333333333333vw;
  height: 11.733333333333333vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .tabs-container .city .location-box .location {
  font-size: 4vw;
  color: #666;
}
.header .tabs-container .city .location-box .iconfont {
  color: #b0b0b0;
}
.header .tabs-container .left {
  width: 64vw;
}
.header .tabs-container .left ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .tabs-container .left ul li {
  height: 10.933333333333334vw;
}
.header .tabs-container .left ul li.current a {
  font-size: 4.8vw;
  font-weight: 600;
  color: black;
}
.header .tabs-container .left ul li a {
  display: block;
  color: #666;
  height: 10.933333333333334vw;
  line-height: 10.933333333333334vw;
}
.header .tabs-container .tab-active-block {
  width: 5.333333333333334vw;
  height: 0.5333333333333333vw;
  background-color: #d4544e;
  position: absolute;
  transform: translateX(20.533333333333335vw);
  bottom: 1.0666666666666667vw;
  border-radius: 266.40000000000003vw;
  transition: transform 300ms;
}
.header .tabs-container .right span {
  font-size: 5.866666666666666vw;
  color: #d4544e;
  font-weight: 600;
  display: block;
  width: 11.733333333333333vw;
  height: 11.733333333333333vw;
  line-height: 11.733333333333333vw;
  text-align: center;
}
.main {
  height: calc(100vh - 12.266666666666666vw);
}
.main .movie-cinema-nav {
  height: 100%;
  width: 100%;
  display: block;
}
