* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
a {
  color: #333;
  text-decoration: none;
}
ul,
ol {
  list-style: none;
}
img {
  width: 100%;
  height: 100%;
  vertical-align: middle;
}
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.clearfix::before,
.clearfix::after {
  content: '';
  display: table;
}
.clearfix::after {
  clear: both;
}
body {
  background-color: #ededed;
}
.red {
  background-color: #d4544e;
  border: #d4544e 0.26666666666666666vw solid;
}
.blue {
  background-color: #3c9fe6;
  border: #3c9fe6 0.26666666666666666vw solid;
}
.header {
  height: 12.266666666666666vw;
}
.header .tabs-container {
  height: 11.733333333333333vw;
  padding-left: 4vw;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.header .tabs-container .tabs {
  width: 100%;
  height: 11.733333333333333vw;
  display: flex;
  align-items: center;
  overflow-y: hidden;
}
.header .tabs-container .tabs ul {
  height: 17.066666666666666vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow-x: auto;
}
.header .tabs-container .tabs ul li {
  height: 10.933333333333334vw;
  flex-shrink: 0;
  margin-right: 4vw;
}
.header .tabs-container .tabs ul li.current a {
  font-size: 4.8vw;
  font-weight: 600;
  color: black;
}
.header .tabs-container .tabs ul li a {
  display: block;
  color: #333;
  font-size: 4vw;
  height: 10.933333333333334vw;
  line-height: 10.933333333333334vw;
}
.header .tabs-container .tab-active-block {
  width: 5.333333333333334vw;
  height: 0.5333333333333333vw;
  background-color: #d4544e;
  position: absolute;
  left: 6.133333333333333vw;
  bottom: 1.0666666666666667vw;
  border-radius: 266.40000000000003vw;
  transition: transform 300ms;
}
.main {
  width: 100%;
  height: calc(100vh-11.733333333333333vw);
}
.main .movie-cinema-nav {
  width: 100%;
  height: 100%;
}
.main .movie-cinema-nav html {
  height: 100%;
}
